{% extends 'layout.html.twig' %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">{{ 'template.delete.title' | trans({}, 'templates') }}</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('templates') }}" class="button is-dark">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                {{ 'going_back' | trans({}, 'home') }}
            </a>
        </div>
    </div>

    <div class="notification is-danger">
        {{ 'template.delete.text' | trans({}, 'templates') }}
        <form method="post">
            <button type="submit" name="confirmar" class="button is-danger is-right">
                <span class="icon">
                    <i class="fas fa-check"></i>
                </span>
                {{ 'confirm' | trans({}, 'home') }}
            </button>
        </form>
    </div>
{% endblock %}

{% block title %}
    {{ 'template.delete.title' | trans({}, 'templates') }}
{% endblock %}
