{% extends 'layout.html.twig' %}
{% trans_default_domain 'templates.es.yml' %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">{{ 'list.title' | trans({}, 'templates') }}</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('main') }}" class="button is-dark">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                {{ 'going_back' | trans({}, 'home') }}
            </a>
            <a href="{{ path('create_template') }}" class="button is-link">
                <span class="icon">
                    <i class="fas fa-user-plus"></i>
                </span>
                {{ 'list.add.template' | trans({}, 'templates') }}
            </a>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="notification is-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="notification is-danger">{{ message }}</div>
    {% endfor %}

    <div class="columns is-multiline">
        {% for template in pagination.items %}
            <div class="column is-full-mobile is-full-tablet is-half-desktop">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="{{ path('template_layout', {'id': template.id}) }}" alt="Template Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ template.styleName }}</p>
                            </div>
                            <div class="section">
                                <p>{{ template.sections | join(' | ') }}</p>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('modify_template', {id: template.id}) }}" class="card-footer-item button is-primary is-fullwidth">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            Edit
                        </a>
                        <a href="{{ path('delete_template', {id: template.id}) }}" class="card-footer-item button is-danger is-fullwidth">
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                            Delete
                        </a>
                        <a href="{{ path('section_template_create', {id: template.id}) }}" class="card-footer-item button is-light is-fullwidth">
                            <span class="icon">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                            Crear sección a la plantilla
                        </a>
                    </footer>
                </div>
            </div>
        {% else %}
            <div class="column is-full">
                <div class="notification is-info">
                    {{ 'not_found' | trans({}, 'templates') }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="has-text-centered">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block title %}
    {{ 'list.title' | trans({}, 'templates') }}
{% endblock %}
