{# templates/class_picture/orla_pdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Orla</title>
    <style>
        body {
            background-image: url('{{ templateImageUrl }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        @page {
            margin: 0;
        }

        .orla {
            position: relative;
            width: 100%;
            height: 100%;
            .content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 20px;
            }

            .section {
                position: absolute;
                font-size: 12pt;
            }
        }
    </style>
</head>
<body>
<div class="orla">
    <div class="content">
        {% for section in classPicture.sectionContents %}
            <div class="section" style="top: {{ section.section.positionTop }}px; left: {{ section.section.positionLeft }}px; width: {{ section.section.width }}px; height: {{ section.section.height }}px;">
                <h3>{{ section.title }}</h3>
                {% for userContent in section.userContents %}
                    {% if userContent.containedUsers|length > 0 %}
                        {% set user = userContent.containedUsers.first %}
                        {% if user %}
                            <p>{{ user.name }}</p>
                        {% else %}
                            <p>Usuario no encontrado</p>
                        {% endif %}
                    {% else %}
                        <p>No hay usuarios contenidos</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
