{% extends 'layout.html.twig' %}

{% block title %}Editar Secciones{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">Editar Secciones</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('class_pictures') }}" class="button is-dark">
                Volver
            </a>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="notification is-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="notification is-danger">{{ message }}</div>
    {% endfor %}
    <div class="columns">
        <div class="column is-full">
            {% for form in forms %}
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">Personalizar Sección</p>
                        <div class="content">
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_label(form.userContents) }}
                                {{ form_errors(form.userContents) }}
                                <table class="table is-fullwidth is-striped">
                                    <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Descripción</th>
                                        <th>Número de Orden</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for userContent in form.userContents %}
                                        <tr>
                                            <td>{{ form_widget(userContent.containedUsers) }}</td>
                                            <td>{{ form_widget(userContent.description) }}</td>
                                            <td>{{ form_widget(userContent.orderNumber) }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <button class="button is-primary">Guardar</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <footer class="card-footer"></footer>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
