{% extends 'layout.html.twig' %}

{% block title %}Editar Sección{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">Editar Sección</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('class_picture_sections', { 'id': sectionContent.classPicture.id }) }}" class="button is-dark">
                <i class="fas fa-arrow-left"></i>
                Volver
            </a>
        </div>
    </div>
    <div class="box">
        {{ form_start(sectionContentForm) }}
        {{ form_widget(sectionContentForm) }}
        <button type="submit" class="button is-link">{{ 'save' | trans({}, 'home') }}</button>
        {{ form_end(sectionContentForm) }}
    </div>

    {% if userSectionContentForms is not empty %}
        <h2 class="title is-4">Contenido de Usuario de la Sección</h2>
        {% for userSectionContentForm in userSectionContentForms %}
            <div class="box">
                {{ form_start(userSectionContentForm) }}
                {{ form_widget(userSectionContentForm) }}
                <button type="submit" class="button is-link">{{ 'save' | trans({}, 'home') }}</button>
                {{ form_end(userSectionContentForm) }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
