{% extends 'layout.html.twig' %}

{% block title %}Listado de Orlas{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">Listado de Orlas</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('class_picture_select_group') }}" class="button is-dark">
                Crear Nueva Orla
            </a>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="notification is-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="notification is-danger">{{ message }}</div>
    {% endfor %}
    <div class="columns is-multiline">
        {% for classPicture in pagination.items %}
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">{{ classPicture.description }}</p>
                        <div class="content">
                            <p><strong>Grupo:</strong> {{ classPicture.group ? classPicture.group.name : 'Sin Grupo' }}</p>
                            <p><strong>Plantilla:</strong> {{ classPicture.template ? classPicture.template.styleName : 'Sin Plantilla' }}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('class_picture_edit_sections', {'classPictureId': classPicture.id}) }}" class="card-footer-item button is-primary is-fullwidth">Editar Sección</a>
                    </footer>
                </div>
            </div>
        {% else %}
            <div class="column is-full">
                <div class="notification is-info">
                    No se encontraron orlas.
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="has-text-centered">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
