{% extends 'layout.html.twig' %}

{% block title %}Agregar Profesores a la Sección{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">Agregar Profesores a la Sección</h1>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="notification is-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="notification is-danger">{{ message }}</div>
    {% endfor %}

    <div class="box">
        {{ form_start(form) }}
        {% for professor in professors %}
            <h2 class="title is-5">Formulario para {{ professor.name }}</h2>
            <div class="field">
                {{ form_row(form['userSectionContent_' ~ professor.id].description) }}
            </div>
            <div class="field">
                {{ form_row(form['userSectionContent_' ~ professor.id].orderNumber) }}
            </div>
        {% endfor %}
        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button class="button is-primary">Guardar</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
