{% extends 'layout.html.twig' %}

{% block title %}Seleccionar Grupo{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">Selecciona el grupo</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('main') }}" class="button is-dark">
                <i class="fas fa-arrow-left"></i>
                Volver
            </a>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="notification is-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="notification is-danger">{{ message }}</div>
    {% endfor %}
    <div class="columns is-multiline">
        {% for group in pagination.items %}
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">{{ group.name }}</p>
                        <div class="content">
                            <h4>{{ group.organization }}</h4>
                            <p>{{ group.academicYear }}</p>
                            <p>{{ group.mentors | join(', ') }}</p>
                            <p>{{ group.professors | join(', ') }}</p>
                            <p>{{ group.students | join(', ') }}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        {% set isMentor = app.user.mentoredClass and app.user.mentoredClass.id == group.id %}
                        {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_MENTOR') and isMentor) %}
                            <a href="{{ path('class_picture_select_template', {'id': group.id}) }}" class="card-footer-item button is-primary is-small">Crear orla</a>
                        {% endif %}
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="has-text-centered">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
