{% extends 'layout.html.twig' %}

{% block title %}Seleccionar Plantilla{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">Selecciona la plantilla</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('main') }}" class="button is-dark">
                <i class="fas fa-arrow-left"></i>
                Volver
            </a>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="notification is-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="notification is-danger">{{ message }}</div>
    {% endfor %}
    <div class="columns is-multiline">
        {% for template in pagination.items %}
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="{{ path('template_layout', {'id': template.id}) }}" alt="Template Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ template.styleName }}</p>
                            </div>
                            <div class="section">
                                <p>{{ template.sections | join(' | ') }}</p>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('class_picture_create', {'templateId': template.id, 'groupId': group.id}) }}" class="card-footer-item button is-primary is-fullwidth">Seleccionar plantilla</a>
                    </footer>
                </div>
            </div>
        {% else %}
            <div class="column is-full">
                <div class="notification is-info">
                    No se encontraron plantillas.
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="has-text-centered">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
