{% extends 'layout.html.twig' %}

{% block title %}Eliminar centro{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">Eliminar centro</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('organizations') }}" class="button is-dark">
                <i class="fas fa-arrow-left"></i>
                {{ 'going_back' | trans({}, 'home') }}
            </a>
        </div>
    </div>

    <div class="notification is-danger">
        El centro "{{ organization.name }}" seleccionado será eliminado de la aplicación. Esta operación no se puede deshacer, ¿desea continuar?
        <form method="post" class="mt-3">
            <button type="submit" name="confirmar" class="button is-danger">{{ 'confirm' | trans({}, 'home') }}</button>
        </form>
    </div>
{% endblock %}
