{% extends 'layout.html.twig' %}
{% trans_default_domain 'users.es.yml' %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title is-4 mb-2">subir foto</h1>
        </div>
        <div class="column">
            <a href="{{ path('users') }}" class="button is-dark is-fullwidth">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>{{ 'going_back' | trans({}, 'home') }}</span>
            </a>
        </div>
    </div>
    <div class="box">
        {% for message in app.flashes('success') %}
            <div class="notification is-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="notification is-danger">{{ message }}</div>
        {% endfor %}

        {{ form_start(form) }}
        <div class="field">
            {{ form_label(form.image, 'Image') }}
            <div class="control">
                {{ form_widget(form.image, {'attr': {'class': 'input'}}) }}
            </div>
            {{ form_errors(form.image) }}
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary is-fullwidth">Siguiente</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}subir foto{% endblock %}