{% extends 'layout.html.twig' %}

{% block title %}Manage Groups{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">Listado del contenido de las secciones</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('general') }}" class="button is-dark">
                <i class="fas fa-arrow-left"></i>
                {{ 'going_back' | trans({}, 'home') }}
            </a>
            <a href="{{ path('section_content_create') }}" class="button is-primary">Crear contenido de la sección</a>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="notification is-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="notification is-danger">{{ message }}</div>
    {% endfor %}
    <div class="columns is-multiline">
        {% for sectionContent in pagination.items %}
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">{{ sectionContent.title }}</p>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('section_content_edit', {id: sectionContent.id}) }}" class="card-footer-item button is-info is-small">Edit</a>
                        <a href="{{ path('section_content_delete', {id: sectionContent.id}) }}" class="card-footer-item button is-danger is-small">Delete</a>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
