{% extends 'layout.html.twig' %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">{{ 'help.title' | trans({}, 'help') }}</h1>
        </div>
        <div class="column">
            <a href="{{ path('users') }}" class="button is-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                {{ 'going_back' | trans({}, 'home') }}
            </a>
        </div>
    </div>
    <div class="content">
        <h2 class="title is-4">General Questions</h2>
        <div class="box">
            <h3 class="title is-5">How do I create an account?</h3>
            <p>To create an account, click on the "Sign Up" button at the top right corner and fill in your details.</p>
        </div>
        <div class="box">
            <h3 class="title is-5">How can I reset my password?</h3>
            <p>If you forgot your password, click on the "Forgot Password" link on the login page and follow the instructions.</p>
        </div>

        <h2 class="title is-4">Technical Support</h2>
        <div class="box">
            <h3 class="title is-5">Why can't I log in?</h3>
            <p>Ensure that you are using the correct email and password. If the problem persists, contact support.</p>
        </div>
        <div class="box">
            <h3 class="title is-5">How do I contact support?</h3>
            <p>You can contact our support team by emailing <a href="mailto:support@example.com">support@example.com</a>.</p>
        </div>

        <h2 class="title is-4">Account Management</h2>
        <div class="box">
            <h3 class="title is-5">How do I update my profile information?</h3>
            <p>To update your profile, go to the "Profile" section in your account settings and edit your details.</p>
        </div>
        <div class="box">
            <h3 class="title is-5">How do I delete my account?</h3>
            <p>If you wish to delete your account, please contact our support team for assistance.</p>
        </div>
    </div>

{% endblock %}

{% block title %}{{ 'help.title' | trans({}, 'help') }}{% endblock %}