{% extends 'layout.html.twig' %}

{% block title %}{{ 'help.title' | trans({}, 'help') }}{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">{{ 'help.title' | trans({}, 'help') }}</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('users') }}" class="button is-dark">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                {{ 'going_back' | trans({}, 'home') }}
            </a>
        </div>
    </div>

    <div class="bulma-section">
        <h2 class="title is-4">Preguntas Generales</h2>
        <div class="box">
            <h3 class="title is-5">¿Cómo creo una cuenta?</h3>
            <p>El encargado de administración de la aplicación es la persona encargada de gestionar las cuentas. Si tienes problemas, no dudes en contactar con ellos.</p>
        </div>
        <div class="box">
            <h3 class="title is-5">¿Cómo puedo restablecer mi contraseña?</h3>
            <p>Si olvidaste tu contraseña, contacta con el encargado de administración de la aplicación para cambiar tu contraseña.</p>
        </div>

        <h2 class="title is-4">Soporte Técnico</h2>
        <div class="box">
            <h3 class="title is-5">¿Por qué no puedo iniciar sesión?</h3>
            <p>Asegúrate de estar utilizando el correo electrónico y la contraseña correctos. Si el problema persiste, contacta con el encargado de administración de la aplicación para cambiar tu contraseña.</p>
        </div>
        <div class="box">
            <h3 class="title is-5">¿Cómo contacto al soporte?</h3>
            <p>Puedes contactar a nuestro equipo de soporte enviando un correo electrónico a <a href="mailto:support@example.com">support@example.com</a>.</p>
        </div>

        <h2 class="title is-4">Gestión de Cuenta</h2>
        <div class="box">
            <h3 class="title is-5">¿Cómo subo una foto de mí para mi orla?</h3>
            <p>Dirígete a la opción de "Subir foto", y desde ahí escoges la imagen que más te guste y... ¡listo!</p>
        </div>
        <div class="box">
            <h3 class="title is-5">¿Cómo elimino mi cuenta?</h3>
            <p>Si deseas eliminar tu cuenta, por favor contacta con los encargados de la aplicación en tu centro para obtener asistencia.</p>
        </div>

        <h2 class="title is-4">Problemas con la Aplicación</h2>
        <div class="box">
            <h3 class="title is-5">¿Tienes problemas con la aplicación?</h3>
            <p>Si tienes algún problema o pregunta adicional sobre la aplicación, no dudes en ponerte en contacto con la creadora del proyecto.</p>
        </div>
    </div>
{% endblock %}
