{% extends 'layout.html.twig' %}

{% block title %}Manage Groups{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">Listado de grupos</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('general') }}" class="button is-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                {{ 'going_back' | trans({}, 'home') }}
            </a>
            <a href="{{ path('group_create') }}" class="button is-primary">Crear grupo</a>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="notification is-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="notification is-danger">{{ message }}</div>
    {% endfor %}
    <div class="columns is-multiline">
        {% for group in pagination.items %}
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">{{ group.name }}</p>
                        <div class="content">
                            <h4>{{ group.organization }}</h4>
                            <p>{{ group.academicYear }}</p>
                            <p>{{ group.mentors | join(', ') }}</p>
                            <p>{{ group.professors | join(', ') }}</p>
                            <p>{{ group.students | join(', ') }}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('group_edit', {id: group.id}) }}" class="card-footer-item button is-info is-small">Edit</a>
                        <a href="{{ path('group_delete', {id: group.id}) }}" class="card-footer-item button is-danger is-small">Delete</a>
                        <a href="{{ path('class_picture_create', {id: group.id}) }}" class="card-footer-item button is-danger is-small">Crear orla</a>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
