{% trans_default_domain 'menu.es.yml' %}
<div class="dashboard is-full-height">
    <!-- left panel -->
    <div class="dashboard-panel is-one-quarter">
        <aside class="menu" id="sidebarMenu">
            <div class="has-text-centered">
                <a href="{{ path('main') }}">
                    <img src="{{ asset('images/logos/logo_1080_pink_white.png') }}" alt="logo menu" class="image is-64x64" style="margin-top: .5em; margin-bottom: .5em;">
                </a>
            </div>
            <p class="menu-label">{{ 'label.class_picture' | trans({}, 'menu') }}</p>
            <ul class="menu-list">
                <li class="menu-item"><a href="{{ path('create_user_picture') }}"><i class="fas fa-user"></i> {{ 'class_picture.user' | trans({}, 'menu') }}</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROFESSOR') %}
                    <li class="menu-item"><a href="{{ path('groups') }}"><i class="fas fa-users"></i> {{ 'list.groups' | trans({}, 'menu') }}</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MENTOR') %}
                    <li class="menu-item"><a href="{{ path('class_picture_select_group') }}"><i class="fas fa-plus"></i> {{ 'list.groups.create.classPicture' | trans({}, 'menu') }}</a></li>
                {% endif %}
                <li class="menu-item"><a href="{{ path('class_pictures') }}"><i class="fas fa-eye"></i> {{ 'class_picture.watch' | trans({}, 'menu') }}</a></li>
            </ul>
            <p class="menu-label">{{ 'label.administration' | trans({}, 'menu') }}</p>
            <ul class="menu-list">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="menu-item"><a href="{{ path('users') }}"><i class="fas fa-user-cog"></i> {{ 'administration.user' | trans({}, 'menu') }}</a></li>
                    <li class="menu-item"><a href="{{ path('templates') }}"><i class="fas fa-file-alt"></i> {{ 'administration.template' | trans({}, 'menu') }}</a></li>
                {% endif %}
                <li class="menu-item"><a href="{{ path('general') }}"><i class="fas fa-cogs"></i> {{ 'administration.config' | trans({}, 'menu') }}</a></li>
            </ul>
            <p class="menu-label">{{ 'label.help' | trans({}, 'menu') }}</p>
            <ul class="menu-list">
                <li class="menu-item"><a href="{{ path('help') }}"><i class="fas fa-info-circle"></i> {{ 'help.info' | trans({}, 'menu') }}</a></li>
            </ul>
            <div class="section footer">
                {% if app.user %}
                    <p>Conectado como <strong>{{ app.user.name }} {{ app.user.surnames }}</strong></p>
                    <a href="{{ path('app_logout') }}" class="button is-danger is-fullwidth mt-2"><i class="fas fa-sign-out-alt"></i> {{ 'help.logout' | trans({}, 'menu') }}</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="button is-link is-fullwidth mt-2"><i class="fas fa-sign-in-alt"></i> {{ 'help.login' | trans({}, 'menu') }}</a>
                {% endif %}
            </div>
        </aside>
    </div>
</div>
