{% trans_default_domain 'menu.es.yml' %}

<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="sidebarMenu">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0"/><path d="M4 12l16 0"/><path d="M4 18l16 0"/></svg>
</a>
<aside class="menu" id="sidebarMenu">
    <a href="{{ path('main') }}" class="has-text-centered">
        <img src="{{ asset('images/logos/logo_1080_pink_white.png') }}" alt="logo menu" class="image is-64x64">
    </a>
    <p class="menu-label">{{ 'label.class_picture' | trans({}, 'menu') }}</p>
    <ul class="menu-list">
        <li class="menu-item"><a href="#">{{ 'class_picture.user' | trans({}, 'menu') }}</a></li>
        <li class="menu-item"><a href="#">{{ 'class_picture.create' | trans({}, 'menu') }}</a></li>
        <li class="menu-item"><a href="#">{{ 'class_picture.edit' | trans({}, 'menu') }}</a></li>
        <li class="menu-item"><a href="#">{{ 'class_picture.export' | trans({}, 'menu') }}</a></li>
        <li class="menu-item"><a href="#">{{ 'class_picture.watch' | trans({}, 'menu') }}</a></li>
    </ul>
    <p class="menu-label">{{ 'label.administration' | trans({}, 'menu') }}</p>
    <ul class="menu-list">
        <li class="menu-item"><a href="{{ path('users') }}">{{ 'administration.user' | trans({}, 'menu') }}</a></li>
        <li class="menu-item"><a href="#">{{ 'administration.template' | trans({}, 'menu') }}</a></li>
        <li class="menu-item"><a href="#">{{ 'administration.config' | trans({}, 'menu') }}</a></li>
    </ul>
    <p class="menu-label">{{ 'label.help' | trans({}, 'menu') }}</p>
    <ul class="menu-list">
        <li class="menu-item"><a href="#">{{ 'help.info' | trans({}, 'menu') }}</a></li>
        <li class="menu-item"><a href="#">{{ 'help.logout' | trans({}, 'menu') }}</a></li>
    </ul>
</aside>
