{% extends 'layout.html.twig' %}

{% block title %}Crear sección para la plantilla "{{ template.styleName }}"{% endblock %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">Crear sección para la plantilla "{{ template.styleName }}"</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('templates') }}" class="button is-dark">
                <i class="fas fa-arrow-left"></i>
                {{ 'going_back' | trans({}, 'home') }}
            </a>
        </div>
    </div>
    <div class="box">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button type="submit" class="button is-link">{{ 'save' | trans({}, 'home') }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
