{% extends 'layout.html.twig' %}

{% block content %}
    <section class="section content">
        <div class="container">
            <div class="columns is-align-items-center head">
                <div class="column is-narrow">
                    <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
                </div>
                <div class="column">
                    <h1 class="title">{{ 'create.title.student' | trans({}, 'users') }}</h1>
                </div>
                <div class="column">
                    <a href="{{ path('main') }}" class="button is-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                        {{ 'going_back' | trans({}, 'users') }}
                    </a>
                </div>
            </div>
            <div class="form box">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="button is-link">{{ 'save' | trans({}, 'users') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}

{% endblock %}

