{% extends 'layout.html.twig' %}
{% trans_default_domain 'users.es.yml' %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">{{ 'create.title.student' | trans({}, 'users') }}</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('main') }}" class="button is-dark">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>{{ 'going_back' | trans({}, 'home') }}</span>
            </a>
        </div>
    </div>
    <div class="form box">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-link">{{ 'save' | trans({}, 'home') }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}
    {{ 'create.title.student' | trans({}, 'users') }}
{% endblock %}
