{% extends 'layout.html.twig' %}
{% trans_default_domain 'users.es.yml' %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title">{{ 'delete.title.student' | trans({}, 'users') }}</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('users') }}" class="button is-dark">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>{{ 'going_back' | trans({}, 'home') }}</span>
            </a>
        </div>
    </div>

    <div class="notification is-danger">
        El estudiante "{{ user.name }} {{ user.surnames }}" del grupo {{ user.group }} será eliminado de la aplicación. Esta operación no se puede deshacer, ¿desea continuar?
        <form method="post">
            <button type="submit" name="confirmar" class="button is-danger is-dark is-right">{{ 'confirm' | trans({}, 'home') }}</button>
        </form>
    </div>
{% endblock %}

{% block title %}
    {{ 'delete.title.student' | trans({}, 'users') }}
{% endblock %}
