{% extends 'layout.html.twig' %}
{% trans_default_domain 'users.es.yml' %}

{% block content %}
    <section class="section content">
        <div class="container">
            <div class="columns is-align-items-center head">
                <div class="column is-narrow">
                    <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
                </div>
                <div class="column">
                    <h1 class="title">{{ 'user_list.title' | trans({}, 'users') }}</h1>
                </div>
            </div>
        </div>
    </section>
    <a href="#" class="">{{ 'user_list.title' | trans({}, 'users') }}</a>
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>{{ 'user_list.table.name' | trans({}, 'users') }}</th>
            <th>{{ 'user_list.table.username' | trans({}, 'users') }}</th>
            <th>{{ 'user_list.table.email' | trans({}, 'users') }}</th>
            <th>{{ 'user_list.table.rol' | trans({}, 'users') }}</th>
            <th>{{ 'user_list.table.group' | trans({}, 'users') }}</th>
            <th>{{ 'user_list.table.mentor' | trans({}, 'users') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }} {{ socio.surnames }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                {# todo - ¿Cómo dejo representado el rol ya que va por herencia? #}
                <td>{{ user.group ? user.group : 'No' | default('---') }}</td>
                <td>{{ user.mentor ? user.mentor : 'No' | default('---') }}</td>
                <td><a href="{{ path('modify_user', {'id': user.id}) }}" class="">{{ 'user_list.btn.modify' | trans({}, 'users') }}</a></td>
                <td><a href="{{ path('delete_user', {'id': user.id}) }}" class="">{{ 'user_list.btn.delete' | trans({}, 'users') }}</a></td>
            </tr>
        {% else %}
            <tr>
                <th colspan="6">{{ 'user_list.no_users' | trans({}, 'users') }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}