{% extends 'layout.html.twig' %}
{% trans_default_domain 'users.es.yml' %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title is-4 mb-2">{{ 'user_list.title' | trans({}, 'users') }}</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('main') }}" class="button is-dark">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>{{ 'going_back' | trans({}, 'home') }}</span>
            </a>
        </div>
    </div>
    <div class="box" id="users-list">
        {% for message in app.flashes('success') %}
            <div class="notification is-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="notification is-danger">{{ message }}</div>
        {% endfor %}

        <div class="list">
            {% for user in pagination.items %}
                <div class="list-item columns is-mobile">
                    <div class="list-item-image column is-narrow">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="{{ user.isProfessor ? path('professor_photo', {'id': user.id}) : path('student_photo', {'id': user.id}) }}" alt="{{ user.name }}'s photo">
                        </figure>
                    </div>
                    <div class="list-item-content column">
                        <div class="list-item-title">{{ user.name }} {{ user.surnames }}</div>
                        <div class="list-item-description">
                            <div class="tags">
                                <span class="tag is-rounded">{{ user.email }}</span>
                                <span class="tag is-rounded">{{ user.username }}</span>
                                <span class="tag is-rounded">{{ user.isProfessor ? 'Profesor' : 'Estudiante' | default('———') }}</span>
                                <span class="tag is-rounded">{{ user.group ? user.group.name : '---' }}</span>
                                <span class="tag is-rounded">
                                    {% if user.isProfessor and user.mentoredClass %}
                                        Clase tutorizada: {{ user.mentoredClass.name }}
                                    {% else %}
                                        No tiene clase tutorizada
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item-controls column is-narrow has-text-right">
                        <div class="buttons">
                            <a href="{{ path(user.isProfessor ? 'modify_professor' : 'modify_student', {'id': user.id}) }}" class="button is-small is-info is-inverted">
                                <span class="icon">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                            <a href="{{ path(user.isProfessor ? 'delete_professor' : 'delete_student', {'id': user.id}) }}" class="button is-small is-danger is-inverted">
                                <span class="icon">
                                    <i class="fas fa-user-minus"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="notification is-warning">{{ 'user_list.no_users' | trans({}, 'users') }}</div>
            {% endfor %}
        </div>
        <div class="block has-text-centered">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block title %}{{ 'user_list.title' | trans({}, 'users') }}{% endblock %}
