{% extends 'layout.html.twig' %}
{% trans_default_domain 'users.es.yml' %}

{% block content %}
    <section class="section content">
        <div class="container">
            <div class="columns is-align-items-center head">
                <div class="column is-narrow">
                    <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
                </div>
                <div class="column">
                    <h1 class="title">{{ 'user_list.title' | trans({}, 'users') }}</h1>
                </div>
            </div>
        </div>
        <a href="#" class="button is-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M16 19h6" /><path d="M19 16v6" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /></svg>
            {{ 'user_list.btn.add' | trans({}, 'users') }}
        </a>
        <a href="{{ path('main') }}" class="button is-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
            {{ 'going_back' | trans({}, 'users') }}
        </a>
        <table class="table is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>{{ 'user_list.table.name' | trans({}, 'users') }}</th>
                <th>{{ 'user_list.table.username' | trans({}, 'users') }}</th>
                <th>{{ 'user_list.table.email' | trans({}, 'users') }}</th>
                <th>{{ 'user_list.table.rol' | trans({}, 'users') }}</th>
                <th>{{ 'user_list.table.group' | trans({}, 'users') }}</th>
                <th>{{ 'user_list.table.mentor' | trans({}, 'users') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.name }} {{ user.surnames }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.group ? user.group : 'No' | default('---') }}</td>
                    <td>{{ user.mentor ? user.mentor : 'No' | default('---') }}</td>
                    <td><a href="{{ path('modify_user', {'id': user.id}) }}" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h3.5" /><path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z" /></svg>
                            {{ 'user_list.btn.modify' | trans({}, 'users') }}</a></td>
                    <td><a href="{{ path('delete_user', {'id': user.id}) }}" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user-minus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4c.348 0 .686 .045 1.009 .128" /><path d="M16 19h6" /></svg>
                            {{ 'user_list.btn.delete' | trans({}, 'users') }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="6">{{ 'user_list.no_users' | trans({}, 'users') }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination box">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
{% endblock %}
