{% extends 'layout.html.twig' %}
{% trans_default_domain 'users.es.yml' %}

{% block content %}
    <div class="columns is-align-items-center head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title is-4 mb-2">{{ 'user_list.title' | trans({}, 'users') }}</h1>
        </div>
        <div class="column">
            <a href="{{ path('users') }}" class="button is-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                {{ 'going_back' | trans({}, 'home') }}
            </a>
        </div>
    </div>
    <div class="box" id="users-list">
        {% for message in app.flashes('success') %}
            <div class="notification is-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="notification is-danger">{{ message }}</div>
        {% endfor %}

        <div class="list">
            {% for user in pagination.items %}
                <div class="list-item columns is-mobile">
                    <div class="list-item-image column is-narrow">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="{{ path(user.isProfessor ? 'professor_photo' : 'student_photo', {'id': user.id}) }}" alt="{{ user.name }}">
                        </figure>
                    </div>
                    <div class="list-item-content column">
                        <div class="list-item-title">{{ user.name }} {{ user.surnames }}</div>
                        <div class="list-item-description">
                            <div class="tags">
                                <span class="tag is-rounded">{{ user.email }}</span>
                                <span class="tag is-rounded">{{ user.username }}</span>
                                <span class="tag is-rounded">{{ user.isProfessor ? 'Profesor' : 'Estudiante' | default('———') }}</span>
                                <span class="tag is-rounded">{{ user.group | default('---') }}</span>
                                <span class="tag is-rounded">{{ user.mentor ? user.mentor : 'No tiene clase tutorizada' | default('———') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-item-controls column is-narrow has-text-right">
                        <div class="buttons">
                            <a href="{{ path(user.isProfessor ? 'modify_professor' : 'modify_student', {'id': user.id}) }}" class="button is-small is-info is-inverted">
                                <span class="icon">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                            <a href="{{ path(user.isProfessor ? 'delete_professor' : 'delete_student', {'id': user.id}) }}" class="button is-small is-danger is-inverted">
                                <span class="icon">
                                    <i class="fas fa-user-minus"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="notification is-warning">{{ 'user_list.no_users' | trans({}, 'users') }}</div>
            {% endfor %}
        </div>
        <div class="block has-text-centered">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block title %}{{ 'user_list.title' | trans({}, 'users') }}{% endblock %}
