{% extends 'layout.html.twig' %}

{% block content %}
    <div class="columns is-align-items-center is-mobile head">
        <div class="column is-narrow">
            <img src="{{ asset('images/logos/arcarus_purple.png') }}" alt="logo" class="image is-64x64">
        </div>
        <div class="column">
            <h1 class="title is-4 mb-2">{{ 'modify.title.student' | trans({}, 'users') }}</h1>
        </div>
        <div class="column has-text-right">
            <a href="{{ path('users') }}" class="button is-dark">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                {{ 'going_back' | trans({}, 'home') }}
            </a>
        </div>
    </div>

    <div class="form box">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="button is-link">{{ 'save' | trans({}, 'home') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}
    {{ 'modify.title.student' | trans({}, 'users') }}
{% endblock %}
